.header {
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 3px 16px rgba(226, 224, 224, 0.692);
    z-index: 100;
}

.header__logo {
    height: 25px;
    margin-left: 30px; 
}

.header__center {
    display: flex;
    justify-content: space-between;

}

.header__center-link {
    margin: 0 20px;
    font-weight: bold;
    font-size: 16px;
    color: gray;
    cursor: pointer;
}

.header__right {
    margin-right: 20px;
}

@media(max-width: 900px) {
    .header__center {
        display: none;
    }

    .header__right {
        display: none;
    }
}